{% set noSpanIfNoLink = noSpanIfNoLink|default(false) %}

{% if config %}
    {% set linkTarget = config.target ? 'target="' ~ config.target ~ '"' %}
    {% set linkTitle = config.title ? 'title="' ~ config.title ~ '"' %}
    {% set linkClass = config.class or additionalClass ? 'class="' ~ config.class ~ ' ' ~ additionalClass ~ '"' %}

    {% if config.uri %}
        <a href="{{ config.uri }}" {{ linkTarget|raw }} {{ linkTitle|raw }} {{ linkClass|raw }}>
    {% else %}
        {% if noSpanIfNoLink == false %}
            <span {{ linkClass|raw }}>
        {% endif %}
    {% endif %}
{% endif %}

{% block linkContent %}{{ text }}{% endblock %}

{% if config %}
    {% if config.uri %}
        </a>
    {% else %}
        {% if noSpanIfNoLink == false %}
            </span>
        {% endif %}
    {% endif %}
{% endif %}
